@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

body * { font-family: "Inter", sans-serif; }

button:focus, textarea:focus, input:focus {
  outline: 2px solid rgb(255, 152, 16);
  outline-offset: 0px;
  border-color: transparent !important;
}