@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-500: rgb(255, 152, 16);
  --primary-600: rgb(238, 145, 23);

  --secondary-200: rgb(153, 153, 247);;
  --secondary-500: rgb(104, 104, 255);
  --secondary-600: rgb(92, 92, 238);

  --text-500: black;

  --base-50: white;
  --base-200: rgb(248, 248, 248);
  --base-200: rgb(238, 238, 238);
  --base-300: rgb(211, 211, 211);
  --base-400: rgb(243, 243, 243);
  --base-500: rgb(235, 235, 235);
  --base-800: rgb(143, 143, 143);
  --base-900: rgb(131, 131, 131);

  --backdrop: rgba(0, 0, 0, 0.05);
}

:root .dark-theme {
  --text-500: white;

  --base-50: rgb(13, 13, 13);
  --base-100: rgb(23, 23, 23);
  --base-200: rgb(37, 37, 37);
  --base-300: rgb(64, 64, 64);
  --base-400: rgb(32, 32, 32);
  --base-500: rgb(40, 40, 40);
  --base-800: rgb(132, 132, 132);
  --base-900: rgb(144, 144, 144);

  --backdrop: rgba(255, 255, 255, 0.05);
}

/* App style */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: var(--base-50);
  transition: color 0.1s ease,
    background-color 0.1s ease;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-500);
}

/* Dark theme individualities */

.dark-theme textarea,
.dark-theme input {
  background-color: var(--base-100);
}

/* Miscellaneous */

button:focus, textarea:focus, input:focus {
  outline: 2px solid var(--primary-500);
  outline-offset: 0px;
  border-color: transparent !important;
}

/* Inputs */

input[type="text"], input[type="password"], input[type="email"] { height: 28px; }
input, textarea {
  border: 1px solid var(--base-200);
  border-radius: 4px;
  font-size: 12px;
  resize: none;
}

/* Buttons */

.secondary-button:disabled {
  background-color: var(--secondary-200);
  cursor: default;
}

.secondary-button:not(:disabled):hover { background-color: var(--secondary-600); }
.secondary-button {
  border: none;
  background-color: var(--secondary-500);
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 6px;
  color: var(--base-50);
}

.primary-button:not(:disabled):hover { background-color: var(--primary-600); }
.primary-button {
  border: none;
  background-color: var(--primary-500);
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 6px;
  color: var(--base-50);
}

.primary-link-button:focus {
  border: none;
  outline: none;
}

.primary-link-button:hover {
  color: var(--primary-600);
  text-decoration: underline;
}

.primary-link-button {
  cursor: pointer;
  color: var(--primary-500);
  text-decoration: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}